li {
    list-style: none;

}

#filter-list {
    margin: 0;
    padding: 0;
}

#filter-list ul li {
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
}

#filter-list li.active,
#filter-list li:hover {
    background-color: red;
}

.cursos .imagen-curso {
    width: 180px;
}

#seccion-productos .item-box img {
    width: 180px;
}

#seccion-productos .item-box .hide {
    display: none;
}

.hide {
    display: none;
}



/* Buttons */
.boton-login {
    color: #7027A0;
    
}